<!DOCTYPE html>
{% load static %}
<html lang="">
<head>
<title>Trealop</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
<style>

  .wrapper.bgded {
    min-height: 500px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
</style>
</head>
<body id="top">
<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div id="logo" class="fl_left">
      <h1><a href="{% url 'homes' %}">ADMIN-HOME</a></h1>
      </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="{% url 'homes' %}">Home</a></li>
        <li><a class="drop" href="#">Pages</a>
          <ul>
            <li><a href="{% url 'dist_list_create' %}">District</a></li>
            <li><a href="{% url 'state_list_create' %}">State</a></li>
            <li><a href="{% url 'cancer_type_list_create' %}">Cancer Type</a></li>
            <li><a href="{% url 'scan_type_list_create' %}">Scan Type</a></li>
            <li><a href="{% url 'events_list_create' %}">Events</a></li>
            <li><a href="{% url 'guide_lines_list_create' %}">Guidlines</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">Services</a>
          <ul>
            <li><a href="{% url 'scan_center_list_create' %}">Scan Center</a></li>
            <li><a href="{% url 'coun_center_list_create' %}">Counseling Center</a></li>
            <li><a href="{% url 'med_services_list_create' %}">Medical Services</a></li>
            <li><a href="{% url 'hair_don_criteria_list_create' %}">Hair Donation</a></li>
            <li><a href="{% url 'dietary_tip_list_create' %}">Dietary Tips</a></li>
            <li><a href="{% url 'dietary_supply_list_create' %}">Dietary Suppliments</a></li>
          </ul>
        </li>
        <li><a href="{% url 'login1' %}">Log Out</a></li>
      </ul>
      </nav>
  </header>
</div>
<div class="wrapper bgded " style="background-image:url('https://plus.unsplash.com/premium_photo-1681966826227-d008a1cfe9c7?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
  <div id="pageintro" class="hoc clear">
    </div>
</div>

<div class="wrapper row4">
  <footer id="footer" class="hoc clear">
    <div class="one_quarter first">
      <h6 class="heading">A convallis ultricies</h6>
      <p>Luctus et dolor nulla facilisi fusce sit amet magna non odio molestie egestas nullam id odio.</p>
      <p class="btmspace-30">Quis risus placerat aliquam nunc nec nunc morbi vel nisi sit amet orci adipiscing pharetra [<a href="#"><i class="fas fa-arrow-right"></i></a>]</p>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Mauris lorem curabitur</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <p class="nospace btmspace-10"><a href="#">Semper lacus id nibh etiam iaculis viverra pede proin laoreet dolor ut nunc&hellip;</a></p>
            <time class="block font-xs" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
          </article>
        </li>
        <li>
          <article>
            <p class="nospace btmspace-10"><a href="#">Donec turpis aliquam sapien est sodales id elementum at molestie in felis class&hellip;</a></p>
            <time class="block font-xs" datetime="2045-04-05">Thursday, 5<sup>th</sup> April 2045</time>
          </article>
        </li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Eget mauris egestas</h6>
      <ul class="nospace linklist">
        <li><a href="#">Aptent taciti sociosqu ad</a></li>
        <li><a href="#">Litora torquent per conubia</a></li>
        <li><a href="#">Nostra per inceptos himenaeos</a></li>
        <li><a href="#">Nam semper ipsum et purus</a></li>
        <li><a href="#">Suspendisse sed quam aliquam</a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Volutpat quisque mauris</h6>
      <p class="nospace btmspace-15">Viverra etiam dictum euismod lectus vestibulum tincidunt erat vel molestie.</p>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    </footer>
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    </div>
</div>
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<script src="{% static 'layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'layout/scripts/jquery.mobilemenu.js' %}"></script>
</body>
</html>