<!DOCTYPE html>
{% load static %}
<html lang="">

<head>
<title>Cancer Healthline Portal</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'layout/styles/layout1.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">

<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div id="logo" class="fl_left">
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="{% url 'homes' %}">Home</a></li>
        <li><a class="drop" href="#">Pages</a>
          <ul>
            <li><a href="{% url 'dist_list_create' %}">District</a></li>
            <li><a href="{% url 'state_list_create' %}">State</a></li>
            <li><a href="{% url 'cancer_type_list_create' %}">Cancer Type</a></li>
            <li><a href="{% url 'scan_type_list_create' %}">Scan Type</a></li>
            <li><a href="{% url 'events_list_create' %}">Events</a></li>
            <li><a href="{% url 'guide_lines_list_create' %}">Guidlines</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">Services</a>
          <ul>
            <li><a href="{% url 'scan_center_list_create' %}">Scan Center</a></li>
            <li><a href="{% url 'coun_center_list_create' %}">Counseling Center</a></li>
            <li><a href="{% url 'med_services_list_create' %}">Medical Services</a></li>
            <li><a href="{% url 'hair_don_criteria_list_create' %}">Hair Donation</a></li>
            <li><a href="{% url 'dietary_tip_list_create' %}">Dietary Tips</a></li>
            <li><a href="{% url 'dietary_supply_list_create' %}">Dietary Supplements</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">Reports</a>
          <ul>
            <li><a href="{% url 'admin_health_records' %}">Health Records</a></li>
            <li><a href="{% url 'admin_view_appointments' %}">Appointments</a></li>
            <li><a href="{% url 'admin_counselling_appointments' %}">Counselling Booking</a></li>
            <li><a href="{% url 'admin_regfreevig_list' %}">Vig Registrations</a></li>
            <li><a href="{% url 'admin_comments_list' %}">Comments</a></li>
          </ul>
        </li>
        <li><a href="{% url 'login1' %}">Log Out</a></li>
      </ul>

    </nav>
  </header>
</div>

<div class="wrapper row3">
  <section id="cta" class="hoc container clear">
    {% block content %}

    {% endblock %}
  </section>
</div>
 <div class="wrapper row4">
  <footer id="footer" class="hoc clear">
    <div class="one_half first">
      <h6 class="heading">About Cancer Healthline Portal</h6>
      <p class="btmspace-30">The Cancer Healthline Portal is a dedicated online resource providing comprehensive support, reliable information, and a compassionate community for cancer patients and their families. Our mission is to empower individuals throughout their journey.</p>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
      </ul>
    </div>
    <div class="one_half">
      <h6 class="heading">Contact Information</h6>
      <ul class="nospace linklist contact">
        <li><i class="fas fa-map-marker-alt"></i>
          <address>
            123 Healthway, Cancer Care Kerala, 54321, India
          </address>
        </li>
        <li><i class="fas fa-phone"></i> +91 123 456 7890</li>
        <li><i class="far fa-envelope"></i> info@cancerhealthline.com</li>
      </ul>
    </div>
  </div>
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear">
      <p class="fl_left">Copyright &copy; 2024 - All Rights Reserved - <a href="#">Cancer Healthline Portal</a></p>
      <p class="fl_right">Developed by Sidharth Suresh</p>
    </div>
  </div>

<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>

<script src="{% static 'layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'layout/scripts/jquery.mobilemenu.js' %}"></script>
</body>
</html>