<!DOCTYPE html>
{% extends 'adminheader.html' %}
<html>
<head>
    <title>Dietary Supplies</title>
</head>
{% block content %}
<body>
    <h1>Dietary Supplies</h1>

    <h2>Add New Dietary Supply</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

    <h2>Existing Dietary Supplies</h2>
    <ul>
        {% for dietary_supply in dietary_supplies %}
            <li>
                {{ dietary_supply.food_group }}
                <a href="{% url 'dietary_supply_edit' dietary_supply.pk %}">Edit</a>
                <a href="{% url 'dietary_supply_delete' dietary_supply.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
</body>
</html>