<!DOCTYPE html>
{% load static %}
<html lang="">
<head>
<title>Cancer Healthline Portal</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'layout/styles/layout1.css' %}" rel="stylesheet" type="text/css" media="all">

</head>
<body id="top">


<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div id="logo" class="fl_left">
      <h1><a href="{% url 'homeee' %}">GUEST- HOME</a></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="{% url 'homeee' %}">Home</a></li>
        <li><a class="drop" href="#">Donations</a>
          <ul>
            <li><a href="{% url 'hair_donation_list_create' %}">Donate Hair</a></li>
            <li><a href="{% url 'donation_list_create' %}">Donate Cash</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">View</a>
            <ul>
              <li><a >Guidelines</a></li>
              <li><a>Hair Donation Criteria</a></li>
            </ul>
          </li>
        <li><a href="{% url 'login1' %}">Log Out</a></li>
      </ul>

    </nav>
  </header>
</div>


<div class="wrapper row3">
  <section id="cta" class="hoc container clear">
    {% block content %}

    {% endblock %}
  </section>
</div>
 <div class="wrapper row4">
  <footer id="footer" class="hoc clear">
    <div class="one_half first">
      <h6 class="heading">About Cancer Healthline Portal</h6>
      <p class="btmspace-30">The Cancer Healthline Portal is a dedicated online resource providing comprehensive support, reliable information, and a compassionate community for cancer patients and their families. Our mission is to empower individuals throughout their journey.</p>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
      </ul>
    </div>
    <div class="one_half">
      <h6 class="heading">Contact Information</h6>
      <ul class="nospace linklist contact">
        <li><i class="fas fa-map-marker-alt"></i>
          <address>
            123 Healthway, Cancer Care Kerala, 54321, India
          </address>
        </li>
        <li><i class="fas fa-phone"></i> +91 123 456 7890</li>
        <li><i class="far fa-envelope"></i> info@cancerhealthline.com</li>
      </ul>
    </div>
  </div>

  <div class="wrapper row5">
    <div id="copyright" class="hoc clear">
      <p class="fl_left">Copyright &copy; 2024 - All Rights Reserved - <a href="#">Cancer Healthline Portal</a></p>
      <p class="fl_right">Developed by Sidharth Suresh</p>
    </div>
  </div>
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{% static 'layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'layout/scripts/jquery.mobilemenu.js' %}"></script>
</body>
</html>