<!DOCTYPE html>
{% extends 'adminheader.html' %}
<html>
<head>
    <title>Medical Services</title>
</head>
{% block content %}
<body>
    <h1>Medical Services</h1>

    <h2>Add New Medical Service</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

    <h2>Existing Medical Services</h2>
    <ul>
        {% for med_service in med_services %}
            <li>
                {{ med_service.medical_service }}
                <a href="{% url 'med_services_edit' med_service.pk %}">Edit</a>
                <a href="{% url 'med_services_delete' med_service.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
</body>
</html>