<!DOCTYPE html>
{% extends 'adminheader.html' %}
<html>
<head>
    <title>States</title>
</head>
{% block content %}
<body>
    <h1>States</h1>

    <h2>Add New State</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
<table>
    <h2>Existing States</h2>

        {% for state in states %}

                {{ state.State }}
                <a href="{% url 'state_edit' state.pk %}">Edit</a>
                <a href="{% url 'state_delete' state.pk %}">Delete</a>

        {% endfor %}
    </table>
{% endblock %}
</body>
</html>